#includes:
#  - phpstan-baseline.neon

parameters:
  phpVersion: 80200
  level: 0
  paths:
#    - conversion
    - include
#    - sql
    - system
    - www
  editorUrl: '%%file%%:%%line%%'
  editorUrlTitle: '%%file%%:%%line%%'
