/* Account Login page */

.ie6 .account-login-page #login_frame {
	display: inline;
}

.account-login-page #password {
	vertical-align: middle;
}

.account-login-page #password_field a {
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
}

.account-login-page #stay_logged_in_field {
	display: inline;
	margin-left: 5px;
}

.account-login-page #stay_logged_in_field label {
	vertical-align: middle;
}

.account-login-page #new_customers_frame p {
	margin: 0 0 1em 0;
}

.account-login-page .swat-footer-form-field .swat-button {
	vertical-align: middle;
}
