.video-player-container {
	position: relative;
}

.video-player .video-player-upgrade {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	width: 80%;
	margin: 0 10%;	
	text-shadow: none;
	font-size: 14px;
	color: #333;
}

.video-player .video-player-upgrade a {
	color: #333!important;
}

/* Fix for apsect-ratio sized flash player. Was broken in Chrome. */
.video-player object {
	top: 0;
	left: 0;
}

.video-player > div {
	vertical-align: bottom;
}

.video-player .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: #fff;
	border-radius: 0;
}

.video-player .overlay-content {
	position: absolute;
	height: auto;
	width: auto;
	top: 40px;
	left: 40px;
	bottom: 40px;
	right: 40px;
	z-index: 3;
	text-align: center;
	color: #666;
	text-shadow: none;
}
