.video-player .video-player-upgrade {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	width: 80%;
	margin: 0 10%;	
	text-shadow: none;
	font-size: 14px;
	color: #333;
}

.video-player .video-player-upgrade a {
	color: #333!important;
}
