.site-content-slider {
	position: relative;
	overflow: hidden;
}

.site-content-slider .slider-next-prev,
.site-content-slider .slider-nav {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.site-content-slider .slider-next-prev span,
.site-content-slider .slider-next-prev a {
	text-decoration: none;
	color: #fff;
	margin: 0 5px;
}

.site-content-slider .slider-next-prev a:hover {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.site-content-slider .slider-next-prev span {
	opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.site-content-slider .slider-nav a {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.site-content-slider .slider-nav a span {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 6px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #999;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.site-content-slider .slider-nav a:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.site-content-slider .slider-nav a.selected span {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border: 1px solid #666;
}

