.swat-tile-view .swat-tile {
	width: 126px;
	height: auto;
	padding: 0;
	margin: 5px;
	float: left;
	text-align: center;
}

.swat-tile-view .swat-tile a {
	padding: 10px;
	display: block;
	text-decoration: none;
}

.swat-tile-view .swat-tile a:hover {
	background: #eee;
}

.swat-tile-view .swat-tile span.title {
	display: block;
	height: 2em;
	padding: 0.2em 0;
}

.ie6 .swat-tile-view .swat-tile span.title {
	height: 2.4em;
}

.ie6 .swat-tile-view .swat-tile a span.title {
	cursor: pointer;
}

.swat-tile-view .swat-tile .site-image-wrapper {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.swat-tile-view .site-image-wrapper img {
	display: block;
	margin: 0 auto;
	padding: 2px;
	border: 1px solid #ddd;
	background: #ccc;
}
