.site-comment-display {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.site-comment-display .site-comment-display-content {
	border: 1px solid #000;
	padding: 0.5em;
	margin: 0.5em 0;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.site-comment-red .site-comment-display-content {
	border-color: #d69692;
	background: #ffe3e0;
}

.site-comment-yellow .site-comment-display-content {
	border-color: #f0dca1;
	background: #fffbc9;
}

.site-comment-green .site-comment-display-content {
	border-color: #fff;
	border-bottom: 1px solid #e7ddc8;
	zoom: 1; /* IE hack */
}

.site-comment-display-confirmation {
	position: absolute;
	border: 1px solid #e7ddc8;
	background: #fff;
	padding: 0.5em;
}

.site-comment-display-confirmation div {
	margin-bottom: 0.25em;
}

.site-comment-display .site-comment-display-controls {
	position: absolute;
	top: 12px;
	right: 12px;
}

.site-comment-display .site-comment-display-controls input {
	width: 7em;
	font-size: 85%;
	padding: 0.1em;
	vertical-align: middle;
}

.site-comment-display h4 {
	margin: 0.5em 0 0 0;
}

.site-comment-display .comment {
	margin-left: 0.5em;
}

.site-comment-display .comment-link {
	font-weight: bold;
	color: #666;
}

.site-comment-display abbr.comment-published {
	border-bottom: none;
}

.site-comment-display .comment-title {
	font-weight: normal;
	color: #666;
}

.site-comment-display .comment-title .comment-author {
	font-weight: bold;
	color: #000;
}
