.site-comment-display {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.site-comment-display .site-comment-display-content {
	border: 1px solid #000;
	padding: 0.5em;
	margin: 0.5em 0;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.site-comment-red .site-comment-display-content {
	border-color: #d69692;
	background: #ffe3e0;
	border-color: #f0b5b1;
}

.site-comment-yellow .site-comment-display-content {
	border-color: #f0dca1;
	background: #fffbc9;
}

.site-comment-green .site-comment-display-content {
	border-color: #fff;
	border-bottom: 1px solid #e7ddc8;
	zoom: 1; /* IE hack */
}

.site-comment-display-confirmation {
	position: absolute;
	border: 1px solid #dcceb2;
	background: #fff;
	padding: 4px 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
}

.site-comment-display-confirmation div {
	margin-bottom: 0.25em;
	text-align: left;
}

.site-comment-display .site-comment-display-controls {
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: right;
}

.site-comment-display .site-comment-display-controls input {
	width: 7em;
	font-size: 85%;
	padding: 0.1em;
	vertical-align: middle;
}

.site-comment-display h4 {
	margin: 0.5em 0 0 0;
}

.site-comment-display .comment {
	margin-left: 0.5em;
}

.site-comment-display .comment-link {
	font-weight: bold;
	color: #666;
}

.site-comment-display abbr.comment-published {
	border-bottom: none;
}

.site-comment-display .comment-title {
	font-weight: normal;
	color: #666;
}

.site-comment-display .comment-title .comment-author {
	font-weight: bold;
	color: #000;
}

.site-comment-display-actions {
	display: none;
	top: -5px;
	position: relative;
	margin-right: 6em;
}

.site-comment-display-actions-content {
	background: #f8f6f0;
	border: 1px solid #dcceb2;
	padding: 4px 8px;
	display: inline-block;
	vertical-align: middle;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
	box-shadow: 0 2px 3px -1px rgba(0,0,0,0.15);
}

.site-comment-display-actions-arrow {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	left: -1px;
	vertical-align: middle;
	background: url(../images/site-comment-display-actions-arrow.png);
}

.site-comment-display-actions-button {
	float: right;
}
